<h1>Angular 50 components</h1>
<a routerLink = '/Navigation-bar'></a><br>
<a routerLink = '/displayhelloworld'>Hello world </a><br>
<a routerLink = '/showhellobutton'>Hello button </a><br>
<a routerLink = '/displayname'>Display name</a><br>
<a routerLink = '/counter'>counter</a><br>
<a routerLink = '/simpleform'>Simple form </a><br>
<a routerLink = '/userage'>Age of a user </a><br>
<a routerLink = '/calculator'>Calculator </a><br>
<a routerLink = '/textlength'>Textlength </a><br>
<a routerLink = '/currencyconverter'>Currency converter </a><br>
<a routerLink = '/evenoddchecker'>Evenodd checker </a><br>
<a routerLink = '/wordreverse'>Wordreverse </a><br>
<a routerLink = '/showdate'>Showdate</a><br>
<a routerLink = '/multiplicationtable'>Multiplicationtable </a><br>
<a routerLink = '/showusername'>showusername </a><br>
<a routerLink = '/simplelogin'>Simple login </a><br>
<a routerLink = '/usergreeting'>User greeting </a><br>
<a routerLink = '/fahrenheittocelsius'>Fahrenheit to celsius </a><br>
<a routerLink = '/bookmarklist'>Bookmarklist </a><br>
<a routerLink = '/charactercounter'>Character counter </a><br>
<a routerLink = '/palindrome'>Palindrome </a><br>
<a routerLink = '/temperatureconverter'>Temperature converter </a><br>
<a routerLink = '/shoppinglist'>Shopping list </a><br>
<a routerLink = '/factorialcalculator'>Factorial calculator </a><br>
<a routerLink = '/todomanager'>Todo manager </a><br>
<a routerLink = '/guessnumbergame'>Guessnumber game </a><br>
<a routerLink = '/wordcounter'>Word counter</a><br>
<a routerLink = '/randomnumbergenerator'>Randomnumber generator </a><br>
<a routerLink = '/palindrome'>Palindrome </a><br>
<a routerLink = '/temperatureconverter'>Temperature converter </a><br>
<a routerLink = '/uppercaseconverter'>Uppercaseconverter</a><br>
<a routerLink = '/wordshuffler'>Wordshuffler </a><br>
<a routerLink = '/bmisolver'>Bmisolver </a><br>
<a routerLink = '/usernamevalidator'>USername validator</a><br>
<a routerLink = '/interestcalculator'>Interest calculator</a><br>
<a routerLink = '/compoundinterestcalculator'>Compound interest calculator </a><br>
<a routerLink = 'fibonaccigenerator'>Fibonaccigenerator</a><br>
<a routerLink = '/oddsumcalculator'>Oddsum calculator </a><br>
<a routerLink = '/currencyformatter'>Currencyformatter </a><br>
<a routerLink = '/randomquotedisplay'>Randomquotedisplay </a><br>
<a routerLink = 'uppercasegreeting'>Uppercasegreeting </a><br>
<a routerLink = '/divisiblechecker'>Divisiblechecker </a><br>
<a routerLink = '/multiplicationchecker'>multiplicationchecker </a><br>


<a routerLink = '/RecipeBook'>RecipeBook </a><br>
<a routerLink = '/FlashcardsApp'>FlashcardsApp </a><br>
<a routerLink = '/Movielistapp'>Movielistapp </a><br>
<a routerLink = '/randomletter'>randomletter</a><br>
<a routerLink = '/ImageGallery'>ImageGallery</a><br>
<a routerLink = '/randomcrochetideas'>randomcrochetideas </a><br>
<a routerLink = '/expensetracker '>expensetracker </a><br>
<a routerLink = '/TableofElements'>TableofElements</a><br>
<a routerLink = '/playlistlist'>Playlist list </a><br>
<a routerLink = '/ProbabilityTest'>ProbabilityTest</a><br>