
<h1>Simple form</h1>
<div>
    <form (submit)="onSubmit">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" #nameInput><br>
  
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" #emailInput><br>
  
      <button type="submit">Submit</button>
    </form>
  
    <div *ngIf="submitted">
      <h3>Submitted Data:</h3>
      <p>Name: {{ submittedData.name }}</p>
      <p>Email: {{ submittedData.email }}</p>
    </div>
  </div>
  