<form (submit)="onSubmit($event)">
    <label for="principal">Principal:</label>
    <input type="number" id="principal" name="principal" #principalInput><br>
  
    <label for="rate">Rate (%):</label>
    <input type="number" id="rate" name="rate" #rateInput><br>
  
    <label for="time">Time:</label>
    <input type="number" id="time" name="time" #timeInput><br>
  
    <label for="frequency"> Frequency (times per year):</label>
    <input type="number" id="frequency" name="frequency" #frequencyInput><br>
  
    <button type="submit">Calculate</button><br>
  </form>
  
  <div *ngIf="result !== null">
    <p>Compound Interest: {{ result | currency }}</p>
  </div>
  